/* media query  */


/* small devices */

@media screen and (max-width:576px) {
    .nav-menu {
        display: none;
    }

    .hamburger-menu {
        display: block;
    }

    .navbar {
        align-items: center;
        padding: 10px;
    }

    .hero {
        flex-direction: column;
        padding-left: 10px;
    }

    .hero-content {
        width: 100%;
        /* margin: 0 auto; */
        /* align-items: center; */
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .hero-content>h1 {
        /* margin: 0; */
        /* font-size: 2rem; */
        /* width: 50%; */
        /* padding-left: 30px; */
    }

    .hero-profile {
        width: 100%;
    }

    .habit-cards {
        grid-template-columns: repeat(1, 1fr);
        width: 60%;
        margin: 20px auto;
    }

    .habit-description {
        text-align: center;
        width: calc(100% - 10%);
        margin: 0 auto;
        padding: 5px;
    }

    .habit-description h2 {
        margin-bottom: 10px;
        font-size: 2rem;
    }

    .run-container {
        flex-direction: column;
    }

    .run-description {
        width: 100%;
    }

    .run-container h2 {
        margin-bottom: 15px;
        width: 100%;
    }

    .run-container .btn-primary {
        margin-top: 25px;
        width: 100%;

    }

    .bmi-description {
        width: 100%;


        margin: 0 10px 20px;
        text-align: left;
    }

    .bmi-box {
        flex-direction: column;
    }

    .bmi-chart {
        max-width: 100%;
    }

    .bmi-form {
        /* border: 1px solid green; */

        /* padding-top: 30px; */
        padding: 5px;

    }

    .bmi-main {
        /* max-width: 100%; */
        max-width: calc(100% - 20px);
        margin: 5px auto 20px;

    }

    .quantum-container {

        grid-template-columns: repeat(1, 1fr);
        /* grid-template-rows: repeat(2, 1fr); */
        /* justify-content: center;
        align-content: center; */
        /* gap: 30px; */

        /* max-width: 1060px; */
        width: calc(100% - 30px);
        /* margin: 0 auto; */
        /* margin: 0 10px; */


    }

    .quantum-card {
        width: 313px;
        /* height: 250px; */
        /* border: 2px solid red; */
        margin: 10px auto;

    }

    .footer-columns {
        grid-template-columns: repeat(1, 1fr);
    }

    .footer {
        padding-left: 20px;
        padding-right: 20px;
    }

    hr {
        margin-left: 5%;
        margin-right: 5%;
    }






}