/* font family */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&display=swap');




.inter-font {
    font-family: "Inter", sans-serif;
    background-color: #000000;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* shared styles */


.display-flex {
    display: flex;
}

.color-primary {
    color: rgb(230, 83, 60);
}

.btn-color {
    background-color: rgb(230, 83, 60);
}

.hamburger-menu i {
    color: white;
}

.p-common {
    /* body-text */
    color: rgba(255, 255, 255, 0.5);

    font-size: 1rem;
    font-weight: 400;

}

.h-common {
    color: rgb(255, 255, 255);

    font-size: 2.6rem;
    font-weight: 900;

}


/* header styles starts */
#header {
    background-image: linear-gradient(180deg, rgb(17, 17, 17), rgba(119, 119, 119, 0)100%);
    margin-bottom: 80px;

}




/* nav styles */
.navbar {
    justify-content: space-between;
    max-width: 1060px;
    margin: 0px auto;
    padding-top: 20px;
}

.nav-menu {
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    width: 360px;




}

.nav-menu>ul {
    gap: 30px;
    align-items: center;
    justify-content: center;

}

.nav-menu>ul button {
    padding: 10px 20px;
    border-radius: 39px;
    border: none;
    color: white;
    /* font-size: 0.7rem; */
    cursor: pointer;
}

.nav-menu li {
    list-style-type: none;

}

.nav-menu li a {
    text-decoration: none;
    color: white;
    /* font-size: 1rem; */
}

.nav-title h2 {
    font-size: 2rem;
    font-style: italic;
    font-weight: 800;
}

.hamburger-menu {
    display: none;
}


/* hero styling */
.hero {
    color: white;
    max-width: 1060px;
    margin: 0 auto;
    gap: 40px;
    align-items: center;
}

.hero-content {
    width: 45%;

}

.hero-content>h1 {
    color: rgb(255, 255, 255);

    font-size: 4rem;
    font-weight: 900;
    text-align: left;
}

.hero-profile {
    width: 45%;
    position: relative;
}

.shape {
    /* font-style: italic; */
    /* font-weight: 10; */
    font-family: "Corinthia", cursive;
    font-size: 4.5rem;
    color: antiquewhite;



}

.button-box {
    margin-top: 20px;
}

.btn-primary {
    border-radius: 42px;

    background: rgb(230, 83, 60);
    padding: 16px 40px;
    color: white;
    border: 0;
    cursor: pointer;
}

.btn-secondary {

    padding: 16px 40px;
    color: white;
    border: 1px solid rgba(248, 247, 247, 0.959);
    border-radius: 42px;
    background-color: #040303;
    cursor: pointer;



}

.circle {
    background-color: rgb(230, 83, 60);
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

.red-float {
    display: flex;
    align-items: center;
    gap: 3px;
    padding: 20px;
    /* box-sizing: border-box; */
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    /* max-width: 200px;
    max-height: 90px; */

    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    position: absolute;
    left: 5%;
    bottom: 20%;
}

.top-float {
    padding: 20px;
    /* box-sizing: border-box; */
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    /* max-width: 200px;
    max-height: 90px; */

    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    position: absolute;
    top: 20%;
    right: 20%;

}

/* main styles */

.main-content {
    max-width: 1060px;
    margin: 0 auto;
}


/* habits section style */
.habit-description {
    text-align: center;
    width: 60%;
    margin: 0 auto;
    padding: 5px;
}

.habit-description h2 {
    margin-bottom: 15px;
}

.card>h4 {
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 15px;

}

.main-card {
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.card div {

    width: 180px;
    /* height: 250px; */
    /* text-align: center; */
    /* border: 2px solid white; */
    border-radius: 50%;
    margin: 0 auto;
}

.card div img {
    width: 100%;
    border-radius: 50%;
}

.habit-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 50px;
    gap: 10px;
    /* justify-items: center;
    align-items: center;
    align-content: center;
    justify-content: center; */

}